@media only screen and (max-width: 950px) {

    .logo
    {
        display: none;
    }
    .info
    {
        width: 100%;
    }
    .info-form
    {
        max-width: 100%;
    }
    .video
    {
        display: none;
    }   
}