:root
{
    --standart-color: #C10C99;
    --hover-color: #e213b5;
}

*
{
    box-sizing: border-box;
}
body
{
    position: relative;
    background: #050214;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
body > header
{
    position: absolute;
    width: 100%;
    z-index: 999;
    padding-left: 42px;
    padding-top: 31px;
}
h1
{
    font-weight: 500;
    font-size: 30px;
}
a
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #b8159b;
    transition: 0.3s ease;
}
a:hover
{
    color: #d419b2 !important;
}
.logo
{
    font-weight: 600;
}
.content
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Video as image */
.video
{
    height: 100%;
    width: 60%;

    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
}
.video .thumbnail
{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../images/airplane.png);
    background-size: cover;
    background-position: bottom;
    opacity: 1;
}
.thumbnail-filter
{
    position: absolute;
    background-color: #020914;
    width: 100%;
    height: 100%;
    opacity: 0.54;
}

/* Block with form and other info */
.info
{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-form
{
    width: 100%;
    max-width: 435px;
    padding: 5px 6px;
}
.info-form h1
{
    margin-bottom: 22px;
}
.advice
{
    font-weight: 400;
    font-size: 16px;
}
.advice-item
{
    margin-bottom: 7px;
}
.advice-link
{
    margin-left: 10px;
}

/* Form for Log in */
#log-in
{
    display: flex;
    flex-direction: column;
    margin-top: 52px;
}
label
{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;
}
/* CSS for input */
input:not([type="checkbox"])
{
    position: relative;
    width: 100%;
    
    background-color: transparent;
    padding: 7px 10px 7px 30px;
    border: none;
    border-bottom: 2px solid #fff;
    

    font-weight: 400;
    font-size: 16;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s ease-in;
}
input:not([type="checkbox"])::placeholder
{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
input:not([type="checkbox"]):focus
{
    outline: none;
    border-bottom: 2px solid;
    border-color: var(--standart-color);
}
.input-inner
{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.input-inner::before
{
    content: '';
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    position: absolute;
}
#input-email::before
{
    background-image: url(../images/mail.svg);
    top: 10px;
}
#input-password::before
{
    background-image: url(../images/padlock.svg);
    top: 5px;
}
.last
{
    margin-bottom: 17px;
}

/* under inputs */
.password-properties
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.password-properties *
{
    font-weight: 300;
    font-size: 12px;
}
.password-properties a
{
    color: #FFFFFF;
}
/* checkbox */
input[type="checkbox"]
{
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin-right: 10px;

    cursor: pointer;

    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
input[type="checkbox"]:checked
{
    background-color: var(--standart-color);
}
input[type="checkbox"]::after
{
    content: '';
    width: 13px;
    height: 13px;
    background-image: url(../images/checkmark.svg);
}


button
{
    padding: 14px 10px;
    background-color: var(--standart-color);
    border: 0;
    border-radius: 50px;

    width: 500;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s ease;
}
button:hover
{
    background-color: var(--hover-color);
}

/* Others */
.or
{
    margin-top: 39px;
}
.or .text
{
    text-align: center;
    color: #B5B5B5;
    font-weight: 500;
    font-size: 16px;
}
.or .links a
{
    display: inline-block;
    margin-right: 25px;
}
.or .links
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.or .links a:last-child
{
    margin-right: 0;
}